@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@200;300;400;500;600;700&display=swap');

/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1d23;
    color: #f5f5dc;
    font-family: 'Cascadia Code', monospace;
    font-weight: 300;
    line-height: 1.6;
    min-height: 100vh;
    max-width: 100vh;
    overflow: hidden;
    user-select: none;
}

/* swipe */
.swipe-able {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo */

.logo {
    font-family: 'Cascadia Code', monospace;
    font-size: clamp(0.5rem, 2.5vw, 1.4rem);
    line-height: 1.2;
    white-space: pre;
    text-align: left;
    padding: 1rem;
    margin: 2rem;
    animation: logo-enter 1s forwards;
}

@keyframes logo-enter {
    from {
        letter-spacing: 10px;
    }

    to {
        letter-spacing: 0;
    }
}

/* home */

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    letter-spacing: 0.1rem;
}

.home-up-hint {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}

.home-down-hint {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

/* arrows */

.up-arrow,
.down-arrow {
    font-size: 2rem;
}

/* forms */

.form-container {
    width: 20rem;
    padding: 2rem;
}

.form-container h2 {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 300;
    color: #f5f5dc;
    letter-spacing: 0.2em;
}

.form-container .form-error {
    text-align: center;
    font-weight: 300;
    color: #d13b3b;
    letter-spacing: 0.1em;
    padding-bottom: 1rem;
}

.form-group {
    text-align: center;
}

.form-group input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    background: none;
    border: 1px solid #f5f5dc;
    border-radius: 1rem;
    color: #f5f5dc;
    font-family: 'Cascadia Code', monospace;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.2s ease;
}

.form-group input:focus {
    outline: none;
    background-color: #f5f5dc;
    color: #1a1d23;
    border-color: #f5f5dc;
}

.form-group input::placeholder {
    color: #888888;
    font-weight: 300;
}

.form-group input:hover {
    transform: translateY(-2px);
}

/* spinner */

.spinning-card {
    border: 3px solid #888888;
    border-radius: 0.2rem;
    width: 1.25rem;
    height: 1.75rem;
    animation: spin .5s linear infinite;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*  profile */

.profile-screen dl {
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.profile-screen dt {
    font-weight: 1000;
}

.profile-screen dd {
    font-weight: 300;
    margin-bottom: 1rem;
}

/* decks */

.decks-screen p {
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}