[Unit]
Description=Nightly zervice at 04:00

[Timer]
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
